@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
    color: rgb(209, 197, 173);
    cursor: default;
}

body {
    background-color: black;
}

.title p {
    font-size: 90px;
    margin-left: 90px;
    margin-top: 50px;
    line-height: .9;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav p {
    margin-right: 90px;
    font-size: 50px;
}

.nav p:hover {
    color: white;
    transition: .4s;
}

.abt {
    margin-top: 300px;
    margin-left: 90px;
    margin-bottom: 200px;
}

.abt p {
    font-size: 40px;
}

.card-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.card-container > div {
    width: 500px;
    height: 650px;
    border: 5px solid rgb(209, 197, 173);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding: 30px;
    margin-bottom: 100px;
}

.card-container div > p {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 2;
}
